[submodule "contrib/yaml-cpp"]
	path = contrib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "contrib/hnswlib"]
	path = contrib/hnswlib
	url = https://github.com/dingodb/hnswlib
[submodule "contrib/openblas"]
	path = contrib/openblas
	url = https://github.com/xianyi/OpenBLAS
[submodule "contrib/faiss"]
	path = contrib/faiss
	url = https://github.com/dingodb/faiss
[submodule "contrib/diskann"]
	path = contrib/diskann
	url = https://github.com/dingodb/DiskANN
[submodule "contrib/bdb"]
	path = contrib/bdb
	url = https://github.com/dingodb/bdb
[submodule "src/libexpr"]
	path = src/libexpr
	url = https://github.com/dingodb/dingo-libexpr.git
[submodule "contrib/tantivy-search"]
	path = contrib/tantivy-search
	url = https://github.com/dingodb/tantivy-search
[submodule "src/serial"]
	path = src/serial
	url = https://github.com/dingodb/dingo-serial
[submodule "dingo-store-proto"]
	path = dingo-store-proto
	url = https://github.com/dingodb/dingo-store-proto
[submodule "contrib/cli11"]
	path = contrib/cli11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "contrib/FTXUI"]
	path = contrib/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI.git
